@model List<CartItemModel>


<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Shopping Cart</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.css" integrity="sha256-NAxhqDvtY0l4xn+YVa6WjAcmd94NNfttjNsDmNatFVc=" crossorigin="anonymous" />
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

<!-- Modal for delete product in cart-->
<div class="modal fade" id="deleteModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="deleteModalLabel">Confirm Delete</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				Are you sure you want to remove <span style="color:blue" id="modalProductName"></span> product from your cart?
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
				<button type="button" class="btn btn-danger" id="confirmDeleteButton">Delete</button>
			</div>
		</div>
	</div>
</div>

<!-- Modal for update quantity in cart -->
<div class="modal fade" id="quantityModal" tabindex="-1" aria-labelledby="quantityModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="quantityModalLabel">Quantity Error</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<p id="quantityModalMessage"></p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-xl-8">
			@if (!Model.Any())
			{
				<p>Your Cart Is Empty</p>
				<img src="https://png.pngtree.com/png-vector/20220119/ourlarge/pngtree-shopping-cart-icon-png-image_4231850.png" />
			}
			@foreach (var item in Model)
			{
				if (item.product != null)
				{
					<div class="card border shadow-none">
						<div class="card-body">
							<div class="d-flex align-items-start border-bottom pb-3">
								<div class="me-4">
									<img src="/productImages/@item.product.coverImage.imageName" alt="@item.product.name" class="avatar-lg rounded">
								</div>
								<div class="flex-grow-1 align-self-center overflow-hidden">
									<div>
										<h5 class="text-truncate font-size-18">
											<a href="ViewProductDetail?area=Home&productId=@item.product.id" class="text-dark">@item.product.name</a>
										</h5>
									</div>
								</div>
								<div class="flex-shrink-0 ms-2">
									<ul class="list-inline mb-0 font-size-16">
										<li class="list-inline-item">
											<a href="javascript:void(0);" class="text-muted px-1" onclick="showDeleteModal(@item.product.id, '@item.product.name', 'true')">
												<i class="mdi mdi-trash-can-outline"></i>
											</a>
										</li>
									</ul>
								</div>
							</div>

							<div>
								<div class="row">
									<div class="col-md-1">
										<div class="mt-3">
											<input type="checkbox" onchange="updateSubtotal()" id="check-product-@item.product.id" style="margin-left: 16px; margin-top: 25px" />
										</div>
									</div>
									<div class="col-md-3">
										<div class="mt-3">
											<p class="text-muted mb-2">Price</p>
											<h5 class="mb-0 mt-2">
												<span class="text-muted me-2">$@item.product.price</span>
											</h5>
										</div>
									</div>
									<div class="col-md-4">
										<div class="mt-3">
											<p class="text-muted mb-2">Quantity</p>
											<div class="d-inline-flex">
												<input type="number" class="form-control form-control-sm"
													   min="1" value="@item.quantity"
													   data-price="@item.product.price"
													   data-total-id="total-product-@item.product.id"
													   data-product-id="@item.product.id"
													   data-quantityInStock="@item.product.quantity"
													   data-isProduct="true" />
											</div>
										</div>
									</div>
									<div class="col-md-4">
										<div class="mt-3">
											<p class="text-muted mb-2">Total</p>
											<h5 id="total-product-@item.product.id">$@((item.quantity * item.product.price).ToString("F2"))</h5>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

				}
				else if (item.productItem != null)
				{
					<div class="card border shadow-none">
						<div class="card-body">
							<div class="d-flex align-items-start border-bottom pb-3">
								<div class="me-4">
									<img src="/productImages/@item.productItem.image.imageName" alt="@item.productItem.product.name" class="avatar-lg rounded">
								</div>
								<div class="flex-grow-1 align-self-center overflow-hidden">
									<div>
										<h5 class="text-truncate font-size-18">
											<a href="ViewProductDetail?area=Home&productId=@item.productItem.product.id" class="text-dark">@item.productItem.product.name</a>
										</h5>
										<p class="mb-0 mt-1">Attribute: <span class="fw-medium">@item.productItem.attribute</span></p>
									</div>
								</div>
								<div class="flex-shrink-0 ms-2">
									<ul class="list-inline mb-0 font-size-16">
										<li class="list-inline-item">
											<a href="javascript:void(0);" class="text-muted px-1" onclick="showDeleteModal(@item.productItem.id, '@item.productItem.product.name', 'false')">
												<i class="mdi mdi-trash-can-outline"></i>
											</a>
										</li>
									</ul>
								</div>
							</div>

							<div>
								<div class="row">
									<div class="col-md-1">
										<div class="mt-3">
											<input type="checkbox" onchange="updateSubtotal()" id="check-productItem-@item.productItem.id" style="margin-left: 16px; margin-top: 25px" />
										</div>
									</div>
									<div class="col-md-3">
										<div class="mt-3">
											<p class="text-muted mb-2">Price</p>
											<h5 class="mb-0 mt-2">
												<span class="text-muted me-2">$@item.productItem.price</span>
											</h5>
										</div>
									</div>
									<div class="col-md-4">
										<div class="mt-3">
											<p class="text-muted mb-2">Quantity</p>
											<div class="d-inline-flex">
												<input type="number" class="form-control form-control-sm"
													   min="1" value="@item.quantity"
													   data-price="@item.productItem.price"
													   data-total-id="total-productItem-@item.productItem.id"
													   data-product-id="@item.productItem.id"
													   data-quantityInStock="@item.productItem.quantity"
													   data-isProduct="false" />
											</div>
										</div>
									</div>
									<div class="col-md-4">
										<div class="mt-3">
											<p class="text-muted mb-2">Total</p>
											<h5 id="total-productItem-@item.productItem.id">$@((item.quantity * item.productItem.price).ToString("F2"))</h5>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				}
			}


			<div class="row my-4">
				<div class="col-sm-6">
					<a href="home" class="btn btn-link text-muted">
						<i class="mdi mdi-arrow-left me-1"></i> Continue Shopping
					</a>
				</div> <!-- end col -->
				<div class="col-sm-6">
					<div class="text-sm-end mt-2 mt-sm-0">
						<a href="" class="btn btn-success">
							<i class="mdi mdi-cart-outline me-1"></i> Checkout
						</a>
					</div>
				</div> <!-- end col -->
			</div> <!-- end row-->
		</div>

		<div class="col-xl-4">
			<div class="mt-5 mt-lg-0">
				<div class="card border shadow-none">
					<div class="card-header bg-transparent border-bottom py-3 px-4">
						<h5 class="font-size-16 mb-0">Order Summary</h5>
					</div>
					<div class="card-body p-4 pt-2">

						<div class="table-responsive">
							<table class="table mb-0">
								<tbody>
									<tr>
										<td>Total :</td>
										<td class="text-end" id="subtotal">$0.00</td>
									</tr>
								</tbody>
							</table>
						</div> <!-- end table-responsive -->
					</div>
				</div> <!-- end card -->
			</div>
		</div> <!-- end col -->
	</div> <!-- end row -->
</div> <!-- end container -->
<script src="~/js/Cart.js"></script>