@{
    ViewData["Title"] = "Update product";
    Layout = "~/Views/Shared/ShopManagerSideBarLayout.cshtml";
}
<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
<div class="content m-4 pb-3">
    <div class="container-fluid ps-5">
        <div class="row pt-5 ">
            <a href="ViewProducts" class="btn btn-dark btn-pill text-uppercase mb-2 mr-2 mr-md-4 ms-3" style="width:100px; color:white;">Back</a>
        </div>
        <form action="UpdateProductProcess" method="post" enctype="multipart/form-data">
            <input type="hidden" name="id" value="@ViewBag.product.id" />
            <div class="row">
                <div class="col-8">
                    <!--img-->
                    <h4 class="font-weight-bold mt-5">
                        Images
                        <span data-bs-toggle="tooltip" ata-bs-placement="right" title="First image is for page cover" style="font-weight:800;color:deepskyblue;">
                            <i class="fa-solid fa-question"></i>
                        </span>
                    </h4>
                    <div class="row mt-3 img-container">
                        @for (int i = 1; i <= 6; i++)
                        {
                            <div class="col-2">
                                <div class="">
                                    <div class="form-input mx-auto" id="file-data-container-@i">
                                        <label for="file-ip-@i" class="mx-auto">
                                            <img id="file-ip-@i-preview" src="/img/no-image-icon-23485.png">
                                            <button type="button" class="imgRemove" onclick="ImgUpdateRemove(@i)" id="button-remove-@i"><i class="fa-regular fa-trash-can"></i></button>
                                        </label>
                                        <input type="file" name="img" id="file-ip-@i" accept="image/*" onchange="showUpdatePreview(event,@i);">
                                    </div>
                                    <p class="text-center small small-ip-@i">Image</p>
                                </div>
                            </div>
                        }
                    </div>
                    <!--------------------------name------------------------------------------------>
                    <h4 class="font-weight-bold mt-4">
                        Name
                    </h4>
                    <input class="form-control" type="text" placeholder="Name" required maxlength="100" name="name" value="@ViewBag.product.name">
                    <!--------------------------desc------------------------------------------------>
                    <h4 class="font-weight-bold mt-4">
                        Description
                    </h4>
                    <div id="editor-container" class="form-control" style="height: 200px;"></div>
                    <input type="hidden" name="desc" id="desc-hidden">
                    <p id="char-count">Characters: 0</p>
                    <!----------------------------variation---------------------------->
@*                     <div class="custom-control custom-switch mb-2 mt-3">
                        @if (ViewBag.product.isVariation)
                        {
                            <input type="checkbox" class="custom-control-input" id="customSwitch1-2" name="isVariation" value="true" onchange="check()" checked>
                        }
                        else
                        {
                            <input type="checkbox" class="custom-control-input" id="customSwitch1-2" name="isVariation" value="false" onchange="check()">
                        }
                        <label class="custom-control-label" for="customSwitch1-2" style="color:black;">Use Variation</label>
                        <span data-bs-toggle="tooltip" ata-bs-placement="right" title="allow to create variation for product" style="font-weight:800;color:deepskyblue;">
                            <i class="fa-solid fa-question"></i>
                        </span>
                    </div> *@
                    
                    <button type="submit" class="next-btn btn btn-dark btn-pill text-uppercase mb-2 mr-2 mr-md-4">&nbsp;&nbsp;Update&nbsp;&nbsp;<i class="fa-solid fa-arrow-right"></i></button>
                </div>


                <div class="col-4">
                    <!----------------------------------cate------------------------------------------------>
                    <h4 class="font-weight-bold mt-4">
                        Category
                        <span data-bs-toggle="tooltip" ata-bs-placement="right" title="Select the most specific category" style="font-weight:800;color:deepskyblue;">
                            <i class="fa-solid fa-question"></i>
                        </span>
                    </h4>
                    <select class="form-select mt-4" id="categorySelect" name="categoryId" required>
                        <option value="" class="" disabled selected>select category</option>
                        @foreach (var item in ViewBag.categories)
                        {
                            if (item.id == ViewBag.product.categoryId)
                            {
                                <option value="@item.id" class="@(item.parentCategoryId == null ? "font-weight-bold" : "")" selected>@item.name</option>
                                continue;
                            }
                            <option value="@item.id" class="@(item.parentCategoryId == null ? "font-weight-bold" : "")">@item.name</option>
                        }
                    </select>
                    <!--------------------------price------------------------------------------------>
                    <h4 class="font-weight-bold mt-6">
                        Price
                    </h4>
                    @if (ViewBag.product.isVariation)
                    {
                        <input id="price" class="form-control disabled" type="text" pattern="^\d+(\.\d{1,2})?$" title="Please enter a valid decimal number up to 2 decimal places."
                               placeholder="Price" required name="price" value="@ViewBag.product.price" disabled>
                    }
                    else
                    {
                        <input id="price" class="form-control disabled" type="text" pattern="^\d+(\.\d{1,2})?$" title="Please enter a valid decimal number up to 2 decimal places."
                               placeholder="Price" required name="price" value="@ViewBag.product.price">
                    }

                    <!--------------------------quantity------------------------------------------------>
                    <h4 class="font-weight-bold mt-4">
                        Quatity
                    </h4>
                    @if (ViewBag.product.isVariation)
                    {
                        <input id="quantity" class="form-control" type="text" pattern="^[1-9]\d*$" title="Please enter a positive integer greater than 0"
                               placeholder="Quantity" required name="quantity" value="@ViewBag.product.quantity" disabled>
                    }
                    else
                    {
                        <input id="quantity" class="form-control disabled" type="text" pattern="^[1-9]\d*$" title="Please enter a positive integer greater than 0"
                               placeholder="Quantity" required name="quantity" value="@ViewBag.product.quantity">
                    }

                </div>
            </div>

        </form>

    </div>
</div>
<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
<script>
    var quill = new Quill('#editor-container', {
        theme: 'snow',
        placeholder: 'Enter your description here',
        modules: {
            toolbar: [
                // Header options (font size)
                [{ 'header': [1, 2, 3, false] }],
                // Font family
                [{ 'font': [] }],
                // Text formatting options
                ['bold', 'italic', 'underline', 'strike'],
                // Text color and background color
                [{ 'color': [] }, { 'background': [] }],
                // List and indent
                [{ 'list': 'ordered' }, { 'list': 'bullet' }],
                [{ 'indent': '-1' }, { 'indent': '+1' }], // outdent/indent
                ['link'],
                // Alignment options
                [{ 'align': [] }]
            ]
        }
    });

    var savedHtmlContent = '@Html.Raw(ViewBag.product.desc)';
    quill.clipboard.dangerouslyPasteHTML(savedHtmlContent);
    const maxLength = 3000;
    var contentLength = quill.getLength();
    document.getElementById('char-count').innerText = "Characters: " + (contentLength - 1);
    quill.on('text-change', function () {
        var contentLength = quill.getLength();

        if (contentLength > maxLength) {
            alert("Content exceeds the maximum length of " + maxLength + " characters.");
            quill.deleteText(maxLength, contentLength);
        }
        document.getElementById('char-count').innerText = "Characters: " + (contentLength - 1);
    });

    var form = document.querySelector('form');
    form.onsubmit = function () {
        var description = document.querySelector('input[name=desc]');
        description.value = quill.root.innerHTML;
    };
</script>
<script>

    @{
        int index = 1;
    }
    document.addEventListener("DOMContentLoaded", function () {
    @foreach(var item in ViewBag.product.images)
    {
        
        if (ViewBag.product.id == item.productCoveredId)
        {
        @:LoadImage("/productImages/@item.imageName", 1,@item.id);
            continue;
        }
        index += 1;
        @:LoadImage("/productImages/@item.imageName", @index,@item.id);
    }

    });
</script>
<script>
    window.addEventListener('load', function () {
        function resetImageInput(index) {
            var input = document.getElementById('file-ip-' + index);
            input.value = '';
        }
        for (var i = 1; i <= 6; i++) {
            resetImageInput(i);
        }
    });

    function check() {
        var isChecked = document.getElementById("customSwitch1-2").checked;
        document.getElementById("customSwitch1-2").value = isChecked ? "true" : "false";
    }

    const priceInput = document.getElementById('price');
    const quantityInput = document.getElementById('quantity');
    const isVariationCheckbox = document.getElementById('customSwitch1-2');

    isVariationCheckbox.addEventListener('change', function () {
        if (this.checked) {
            priceInput.disabled = true;
            quantityInput.disabled = true;
        } else {
            priceInput.disabled = false;
            quantityInput.disabled = false;
        }
    });

    //tooltip
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
</script>