<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/kit/css/theme.css" />
    <link rel="stylesheet" href="~/css/sideBar.css" />
    <link rel="stylesheet" href="~/css/pagination.css" />
    <script src="https://kit.fontawesome.com/710667f71a.js" crossorigin="anonymous"></script>
</head>
<body>

    <div class="container-fluid">
        <div class="row">
            <div class="col-2 sidebar">
                <div class="flex-shrink-0">
                    <h3 class="fs-5 fw-semibold sidebar-title p-3">Account</h3>
                    <ul class="list-unstyled ps-0">
                        <li class="mb-1 single-item activeable active">
                            <button class="btn btn-toggle align-items-center rounded collapsed no-shadow text-white  ">
                                <i class="fa-solid fa-table-columns">&nbsp;</i>
                                <a href="@Url.Action("Index","ManagerDashBoard")">DashBoard</a>
                            </button>
                        </li>
                        <li class="mb-1">
                            <div class="sidebar-parent">
                                <button class="btn btn-toggle align-items-center rounded collapsed no-shadow text-white" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="false">
                                    <i class="fa-solid fa-table-columns">&nbsp;</i>
                                    Home
                                    <i class="fa-solid fa-chevron-down dropdown-icon"></i>
                                </button>
                            </div>
                            <div class="collapse" id="home-collapse" style="">
                                <ul class="btn-toggle-nav list-unstyled fw-normal pb-2 small">
                                    <li class="activeable"><a href="@Url.Action("Index","Category")" class="">Category</a></li>
                                    <li class="activeable"><a href="#" class="">Updates</a></li>
                                    <li class="activeable"><a href="#" class="">Reports</a></li>
                                    <li class="activeable"><a href="@Url.Action("Index","ShopManage")" class="">ShopManage</a></li>
                                    <li class="activeable"><a href="@Url.Action("Index","ManageUser")" class="">ManageUser</a></li>
                                </ul>
                            </div>
                        </li>

                        <li class="mb-1">
                            <div class="sidebar-parent">
                                <button class="btn btn-toggle align-items-center rounded collapsed no-shadow text-white" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
                                    <i class="fa-solid fa-house">&nbsp;</i>
                                    Dashboard
                                    <i class="fa-solid fa-chevron-down dropdown-icon"></i>
                                </button>
                            </div>
                            <div class="collapse" id="dashboard-collapse" style="">
                                <ul class="btn-toggle-nav list-unstyled fw-normal pb-2 small">
                                    <li class="activeable"><a href="#" class="">Overview</a></li>
                                    <li class="activeable"><a href="#" class="">Weekly</a></li>
                                    <li class="activeable"><a href="#" class="">Monthly</a></li>
                                    <li class="activeable"><a href="#" class="">Annually</a></li>
                                </ul>
                            </div>
                        </li>

                        <li class="mb-1 single-item activeable">
                            <button class="btn btn-toggle align-items-center rounded collapsed no-shadow text-white  ">
                                <i class="fa-solid fa-gear">&nbsp;</i>
                                <a href="@Url.Action("Index","Setting")">Setting</a>
                            </button>
                        </li>

                        <li class="mb-1 single-item activeable">
                            <button class="btn btn-toggle align-items-center rounded collapsed no-shadow text-white" onclick="showLogoutModal()">
                                <i class="fa-solid fa-right-from-bracket">&nbsp;</i>
                                <a href="#">Logout</a>
                            </button>
                        </li>

                    </ul>
                </div>
            </div>
            <div class="col-10 left-col">


                @RenderBody()

            </div>
        </div>
    </div>
    <!-- Logout Confirmation Modal -->
    <div class="modal fade" id="logoutModal" tabindex="-1" aria-labelledby="logoutModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="logoutModalLabel">Confirm Logout</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure you want to log out?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                    <a href="@Url.Action("Logout","ManagerLogin")" class="btn btn-danger">Yes, Logout</a>
                </div>
            </div>
        </div>
    </div>
    <script>
        function showLogoutModal() {
            var myModal = new bootstrap.Modal(document.getElementById('logoutModal'));
            myModal.show();
        }
    </script>
    <script src="~/js/SidebarControl.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
   
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    
</body>
</html>
