<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/kit/css/theme.css" />
    <link rel="stylesheet" href="~/css/sideBar.css" />
    <link rel="stylesheet" href="~/css/pagination.css" />
    <script src="https://kit.fontawesome.com/710667f71a.js" crossorigin="anonymous"></script>
    @RenderSection("Styles", required: false)
</head>
<body>

    <div class="container-fluid">
        <div class="row">
            <div class="col-2 sidebar">
                <div class="flex-shrink-0">
                    <h3 class="fs-5 fw-semibold sidebar-title p-3">Account</h3>
                    <ul class="list-unstyled ps-0">
                        <li class="mb-1 single-item activeable active">
                            <button class="btn btn-toggle align-items-center rounded collapsed no-shadow text-white">
                                <i class="fa-solid fa-table-columns">&nbsp;</i>
                                <a href="@Url.Action("Index","ShopDashBoard")">DashBoard</a>
                            </button>
                        </li>

                        <li class="mb-1">
                            <div class="sidebar-parent">
                                <button class="btn btn-toggle align-items-center rounded collapsed no-shadow text-white" data-bs-toggle="collapse" data-bs-target="#shop-collapse" aria-expanded="false">
                                    <i class="fa-solid fa-shop">&nbsp;</i>
                                    Shop
                                    <i class="fa-solid fa-chevron-down dropdown-icon"></i>
                                </button>
                            </div>
                            <div class="collapse" id="shop-collapse">
                                <ul class="btn-toggle-nav list-unstyled fw-normal pb-2 small">
                                    <li class="activeable"><a href="@Url.Action("ViewShop","Shop")" class="">Shop Infomation</a></li>
                                </ul>
                            </div>
                        </li>

                        <li class="mb-1">
                            <div class="sidebar-parent">
                                <button class="btn btn-toggle align-items-center rounded collapsed no-shadow text-white" data-bs-toggle="collapse" data-bs-target="#product-collapse" aria-expanded="false">
                                    <i class="fa-solid fa-bag-shopping">&nbsp;</i>
                                    Product
                                    <i class="fa-solid fa-chevron-down dropdown-icon"></i>
                                </button>
                            </div>
                            <div class="collapse" id="product-collapse">
                                <ul class="btn-toggle-nav list-unstyled fw-normal pb-2 small">
                                    <li class="activeable"><a href="@Url.Action("ViewProducts","Product")" class="">View all</a></li>
                                    <li class="activeable"><a href="@Url.Action("AddProduct","Product")" class="">Add Product</a></li>
                                    <li class="activeable"><a href="@Url.Action("ViewShopChart","ShopChart")" class="">Static</a></li>
                                </ul>
                            </div>
                        </li>

                        <li class="mb-1">
                            <div class="sidebar-parent">
                                <button class="btn btn-toggle align-items-center rounded collapsed no-shadow text-white" data-bs-toggle="collapse" data-bs-target="#discount-collapse" aria-expanded="false">
                                    <i class="fa-solid fa-tag">&nbsp;</i>
                                    Discount
                                    <i class="fa-solid fa-chevron-down dropdown-icon"></i>
                                </button>
                            </div>
                            <div class="collapse" id="discount-collapse">
                                <ul class="btn-toggle-nav list-unstyled fw-normal pb-2 small">
                                    <li class="activeable"><a href="@Url.Action("ViewProductOnDiscount","DiscountManager")" class="">Product Applied Discount</a></li>
                                    <li class="activeable"><a href="@Url.Action("ViewListDiscount","DiscountManager")" class="">List Discount</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="mb-1">
                            <div class="sidebar-parent">
                                <button class="btn btn-toggle align-items-center rounded collapsed no-shadow text-white" data-bs-toggle="collapse" data-bs-target="#order-collapse" aria-expanded="false">
                                    <i class="fa-solid fa-tag">&nbsp;</i>
                                    Order
                                    <i class="fa-solid fa-chevron-down dropdown-icon"></i>
                                </button>
                            </div>
                            <div class="collapse" id="order-collapse">
                                <ul class="btn-toggle-nav list-unstyled fw-normal pb-2 small">
                                    <li class="activeable"><a href="@Url.Action("OrderInfo","Order")" class="">Order Information</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="mb-1 single-item activeable">
                            <button class="btn btn-toggle align-items-center rounded collapsed no-shadow text-white" onclick="showLogoutModal()">
                                <i class="fa-solid fa-right-from-bracket">&nbsp;</i>
                                <a href="#">Logout</a>
                            </button>
                        </li>                  
                    </ul>
                </div>
            </div>
            <div class="col-10 left-col">
                @RenderBody()
            </div>
        </div>
    </div>

    <!-- Logout Confirmation Modal -->
    <div class="modal fade" id="logoutModal" tabindex="-1" aria-labelledby="logoutModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="logoutModalLabel">Confirm Logout</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure you want to log out?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                    <a href="@Url.Action("Logout","SellerLogin")" class="btn btn-danger">Yes, Logout</a>
                </div>
            </div>
        </div>
    </div>

    <script src="~/js/SidebarControl.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>

