@{
    ViewData["Title"] = "Order Information";
    Layout = "~/Views/Shared/ShopManagerSideBarLayout.cshtml";
}

<link rel="stylesheet" href="https://cdn.datatables.net/2.1.8/css/dataTables.dataTables.css" />
<div class="content m-4 pb-3">

    <div class="row p-4">
        <div class="col-12">
            <table id="myTable" class="display">
                <thead>
                    <tr>
                        <th style="width: 8%;">OrderCode</th>
                        <th style="width: 15%;">Name</th>
                        <th style="width: 15%;">Phone</th>
                        <th style="width: 20%;">Address</th>
                        <th style="width: 8%;">TransactionFee</th>
                        <th style="width: 8%;">ShippingFee</th>
                        <th style="width: 8%;">Price</th>
                        <th style="width: 20%;">Content</th>
                        <th style="width: 8%;">Weight(gram)</th>
                        <th style="width: 10%;">Required Note</th>
                        <th style="width: 8%;">Status</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ViewBag.OrderInfo)
                    {
                        <tr>
                            <td>@item.OrderCode</td>
                            <td>@item.ToName</td>
                            <td>@item.ToPhone</td>
                            <td>@item.ToAddress</td>
                            <td>@item.TransactionFee</td>
                            <td>@item.ShippingFee</td>
                            <td>@item.Price</td>
                            <td>@item.Content</td>
                            <td>@item.Weight</td>
                            <td>@item.RequiredNote</td>
                            <td>@item.Status</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/2.1.8/js/dataTables.js"></script>
<script>
    function sendDataToModal(id) {
        $('#delete-product-id').val(id);
    }

    $(document).ready(function () {
        $(document).ready(function () {
            $('#myTable').DataTable({
                lengthMenu: [[5, 10, 15], [5, 10, 15]]
            });
        });
    });
</script>