
@{
    ViewData["Title"] = "ShopOwnerRegister";
    Layout = null;
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<section >
    <div class="container py-5 h-100 ">
        <div class="row justify-content-center align-items-center h-100">
            <div class="col-12 col-lg-9 col-xl-7">
                <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
                    <div class="card-body p-4 p-md-5">
                        @if (ViewBag.Error != null)
                        {
                            <span class="text-danger">@ViewBag.Error</span>
                        }
                        <h3 class="mb-4 pb-2 pb-md-0 mb-md-5"> Shop Owner Registration Form</h3>
                        <h5 class="mb-4 pb-2">User Information</h5>
                        <form asp-action="ShopOwnerRegisterCheck" method="post">                  
                            <div class="row">
                                <div class="col-md-6 mb-4 pb-2">

                                    <div data-mdb-input-init class="form-outline">
                                        <label for="email" class="control-label">Email</label>
                                        <input type="email" id="email" name="email" class="form-control @(ViewBag.Email != null ? "is-valid" : "") @(ViewBag.ErrorEmail != null ? "is-invalid" : "")" required value="@ViewBag.Email" />
                                        @if  ( ViewBag.ErrorEmail != null)
                                        {
                                            <span class="text-danger">@ViewBag.ErrorEmail</span>
                                        }
                                    </div>

                                </div>
                                <div class="col-md-6 mb-4 pb-2">

                                    <div data-mdb-input-init class="form-outline">
                                        <label for="phoneNumber" class="control-label">Phone Number</label>
                                        <input type="text" id="phoneNumber" name="phoneNumber" class="form-control @(@ViewBag.Phone != null ? "is-valid" : "") @(ViewBag.ErrorPhone != null ? "is-invalid" : "") " required value="@ViewBag.Phone" />
                                        @if(ViewBag.ErrorPhone != null)
                                        {
                                            <span class="text-danger">@ViewBag.ErrorPhone</span>
                                        }
                                    </div>

                                </div>

                              

                            </div>
                            <h5 class="mb-4 pb-2">Account Information</h5>
                            <div class="row">
                                <div class="col-12 mb-4">

                                    <div class="form-group">
                                        <label for="username" class="control-label">Username</label>
                                        <input type="text" id="username" name="username" class="form-control @(@ViewBag.Username != null ? "is-valid" : "") @(ViewBag.ErrorUsername != null ? "is-invalid" : "")" required value="@ViewBag.Username" />
                                                @if (ViewBag.ErrorUsername != null)
                                                {                                                   
                                                    <span class="text-danger">@ViewBag.ErrorUsername</span>
                                                }
                                    </div>

                                </div>
                            </div>

                            <div class="row">
                                <div class="col-6 mb-4">

                                    <div class="form-group">
                                        <label for="password" class="control-label">Password</label>
                                        <input type="password" id="password" name="password" class="form-control " required />
                                    </div>

                                </div>

                                <div class="col-6 mb 4">
                                    <div class="form-group">
                                        <label for="passwordConfirm" class="control-label">PasswordConfirm</label>
                                        <input type="password" id="passwordConfirm" name="passwordConfirm" class="form-control @(ViewBag.ErrorPasswordConfirm != null ? "is-invalid" : "")" required />
                                        @if (ViewBag.ErrorPasswordConfirm != null)
                                        {
                                            <span class="text-danger">@ViewBag.ErrorPasswordConfirm</span>
                                        }                                    
                                    </div>
                                </div>
                            </div>

                            <div class="mt-4 pt-2">
                                <input data-mdb-ripple-init class="btn btn-primary btn-lg" type="submit" value="Submit" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

    
