@{
	Layout = null;
}

@model Account;

<!--
=========================================================
* Material Kit 2 PRO - v3.0.4
=========================================================

* Product Page:  https://www.creative-tim.com/product/material-kit-pro
* Copyright 2023 Creative Tim (https://www.creative-tim.com)
* Coded by www.creative-tim.com

 =========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software. -->
<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/WebPage">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>
		Customer Sign In - E-Retailing-Portal
	</title>

	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Roboto+Slab:400,700" />

	<!-- Nucleo Icons CDN -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/nucleo/2.0.6/css/nucleo-icons.min.css" rel="stylesheet" />

	<!-- Nucleo SVG CDN -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/nucleo/2.0.6/css/nucleo-svg.min.css" rel="stylesheet" />

	<script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>

	<link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">

	<link href="~/kit/css/material-kit.css" rel="stylesheet" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">

	<style>
		.async-hide {
			opacity: 0 !important
		}

		#togglePassword {
			position: absolute;
			right: 10px;
			top: 10px;
			background: none;
			border: none;
			cursor: pointer;
		}

		.btn-custom {
			color: white;
			border: none;
			padding: 20px 20px;
			font-weight: bold;
		}
	</style>

</head>
<body class="bg-gray-200">
	@{
		// Lấy dữ liệu từ cooki
		var usernameCookie = Context.Request.Cookies["Username_Customer"] ?? "";
		var passwordCookie = ViewBag.PasswordCookie_Customer;
	}

	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NKDMSK6" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<section>
		<div class="page-header min-vh-75">
			<div class="container">
				<div class="row">
					<div class="col-xl-4 col-lg-5 col-md-7 mx-auto">
						<div class="card z-index-0 mt-7">
							<div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
								<div class="bg-gradient-info shadow-info border-radius-lg py-3 pe-1 text-center py-4">
									<h4 class="font-weight-bolder text-white mt-1 mb-0">Sign In For Customer</h4>
									<p class="mb-1 text-sm text-white">Welcome back</p>
								</div>
							</div>
							<div class="card-body pb-0">
								<form asp-controller="Login" asp-action="Login" method="post">
									<input type="hidden" name="roleId" value="1" />

									<div class="input-group input-group-outline mb-4 @(string.IsNullOrEmpty(usernameCookie)?"": "is-filled")" style="position: relative;">
										<label class="form-label">Username</label>
										<input type="text" id="username" name="username" value="@(string.IsNullOrEmpty(usernameCookie) ? "" : usernameCookie)" class="form-control">
									</div>

									<div class="input-group input-group-outline mb-4 @(string.IsNullOrEmpty(passwordCookie)?"": "is-filled")" style="position: relative;">
										<label class="form-label">Password</label>
										<input type="password" id="password" name="password" value="@(string.IsNullOrEmpty(passwordCookie) ? "" : passwordCookie)" class="form-control">
										<button type="button" id="togglePassword" class="btn btn-outline-secondary" style="position: absolute; right: 5px; top: 50%; transform: translateY(-50%);">
											<i class="bi bi-eye" id="toggleIcon"></i>
										</button>
									</div>

									<div class="form-check form-switch d-flex align-items-center">
										<input class="form-check-input" type="checkbox" id="rememberMe">
										<label class="form-check-label my-auto ms-2" for="rememberMe">Remember me</label>
									</div>

									@if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
									{
										<div class="alert alert-danger mt-3" role="alert">
											@ViewBag.ErrorMessage
										</div>
									}

									<div class="text-center">
										<button type="submit" class="btn bg-gradient-info w-100 mt-4 mb-2">Sign in</button>
									</div>
								</form>
							</div>
							<div class="card-footer text-center pt-0 px-sm-4 px-1">
								<div class="row px-xl-5 px-sm-4 px-3">
									<div class="mt-3 mb-4 position-relative text-center">
										<p class="text-sm font-weight-bold text-secondary text-border d-inline z-index-2 bg-white px-3">
											or continue with
										</p>
									</div>
									<div class="col-3 ms-auto px-1">
							
											<a class="btn btn-outline-light w-100 p-3" href="@Url.Action("ExternalFacebookLogin", "Login")">
												<svg width="24px" height="32px" viewBox="0 0 64 64" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
													<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
														<g id="facebook-3" transform="translate(3.000000, 3.000000)" fill-rule="nonzero">
															<circle id="Oval" fill="#3C5A9A" cx="29.5091719" cy="29.4927506" r="29.4882047"></circle>
															<path d="M39.0974944,9.05587273 L32.5651312,9.05587273 C28.6886088,9.05587273 24.3768224,10.6862851 24.3768224,16.3054653 C24.395747,18.2634019 24.3768224,20.1385313 24.3768224,22.2488655 L19.8922122,22.2488655 L19.8922122,29.3852113 L24.5156022,29.3852113 L24.5156022,49.9295284 L33.0113092,49.9295284 L33.0113092,29.2496356 L38.6187742,29.2496356 L39.1261316,22.2288395 L32.8649196,22.2288395 C32.8649196,22.2288395 32.8789377,19.1056932 32.8649196,18.1987181 C32.8649196,15.9781412 35.1755132,16.1053059 35.3144932,16.1053059 C36.4140178,16.1053059 38.5518876,16.1085101 39.1006986,16.1053059 L39.1006986,9.05587273 L39.0974944,9.05587273 L39.0974944,9.05587273 Z" fill="#FFFFFF"></path>
														</g>
													</g>
												</svg>
											</a>
					
									</div>

									<div class="col-3 me-auto px-1">
										
											<a class="btn btn-outline-light w-100 p-3" href="@Url.Action("ExternalGoogleLogin", "Login")">
												<svg width="24px" height="32px" viewBox="0 0 64 64" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
													<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
														<g id="google-icon" transform="translate(3.000000, 2.000000)" fill-rule="nonzero">
															<path d="M57.8123233,30.1515267 C57.8123233,27.7263183 57.6155321,25.9565533 57.1896408,24.1212666 L29.4960833,24.1212666 L29.4960833,35.0674653 L45.7515771,35.0674653 C45.4239683,37.7877475 43.6542033,41.8844383 39.7213169,44.6372555 L39.6661883,45.0037254 L48.4223791,51.7870338 L49.0290201,51.8475849 C54.6004021,46.7020943 57.8123233,39.1313952 57.8123233,30.1515267" fill="#4285F4"></path>
															<path d="M29.4960833,58.9921667 C37.4599129,58.9921667 44.1456164,56.3701671 49.0290201,51.8475849 L39.7213169,44.6372555 C37.2305867,46.3742596 33.887622,47.5868638 29.4960833,47.5868638 C21.6960582,47.5868638 15.0758763,42.4415991 12.7159637,35.3297782 L12.3700541,35.3591501 L3.26524241,42.4054492 L3.14617358,42.736447 C7.9965904,52.3717589 17.959737,58.9921667 29.4960833,58.9921667" fill="#34A853"></path>
															<path d="M12.7159637,35.3297782 C12.0932812,33.4944915 11.7329116,31.5279353 11.7329116,29.4960833 C11.7329116,27.4640054 12.0932812,25.4976752 12.6832029,23.6623884 L12.6667095,23.2715173 L3.44779955,16.1120237 L3.14617358,16.2554937 C1.14708246,20.2539019 0,24.7439491 0,29.4960833 C0,34.2482175 1.14708246,38.7380388 3.14617358,42.736447 L12.7159637,35.3297782" fill="#FBBC05"></path>
															<path d="M29.4960833,11.4050769 C35.0347044,11.4050769 38.7707997,13.7975244 40.9011602,15.7968415 L49.2255853,7.66898166 C44.1130815,2.91684746 37.4599129,0 29.4960833,0 C17.959737,0 7.9965904,6.62018183 3.14617358,16.2554937 L12.6832029,23.6623884 C15.0758763,16.5505675 21.6960582,11.4050769 29.4960833,11.4050769" fill="#EB4335"></path>
														</g>
													</g>
												</svg>
											</a>
										
									</div>

								</div>
								<form asp-controller="Register" asp-action="CustomerEmailRegister">
									<p class="mb-0 mt-3 text-sm mx-auto">
										Don't have an account?
										<button type="submit" class="btn-custom text-info text-gradient font-weight-bold" style="padding: 5px 10px;">Register</button>
									</p>
								</form>
								<form asp-controller="CustomerForgotPassword" asp-action="Index">
									<p class="mb-0 mt-3 text-sm mx-auto">
										Don't remember password?
										<button type="submit" class="btn-custom text-info text-gradient font-weight-bold" style="padding: 5px 10px;">Forget Password</button>
									</p>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<footer class="footer py-5">
		<div class="container">
			<div class="row">
				<div class="col-8 mx-auto text-center mt-1">
					<p class="mb-0 text-secondary">
						Copyright © <script>
							document.write(new Date().getFullYear())
						</script> Material by Creative Tim.
					</p>
				</div>
			</div>
		</div>
	</footer>
	<script>
		document.getElementById("togglePassword").addEventListener("click", function () {
			const passwordInput = document.getElementById("password");
			const toggleIcon = document.getElementById("toggleIcon");

			if (passwordInput.type === "password") {
				passwordInput.type = "text";
				toggleIcon.classList.remove("bi-eye");
				toggleIcon.classList.add("bi-eye-slash");
			} else {
				passwordInput.type = "password";
				toggleIcon.classList.remove("bi-eye-slash");
				toggleIcon.classList.add("bi-eye");
			}
		});
	</script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDTTfWur0PDbZWPr7Pmq8K3jiDp0_xUziI"></script>
	<script src="~/kit/js/material-kit.js" type="text/javascript"></script>
	<script defer src="https://static.cloudflareinsights.com/beacon.min.js/vcd15cbe7772f49c399c6a5babf22c1241717689176015" integrity="sha512-ZpsOmlRQV6y907TI0dKBHq9Md29nnaEIPlkf84rnaERnq6zvWvPUqr2ft8M1aS28oN72PdrCzSjY4U6VaAw1EQ==" data-cf-beacon='{"rayId":"8cc438a37ddb84cd","serverTiming":{"name":{"cfExtPri":true,"cfL4":true}},"version":"2024.8.0","token":"1b7cbb72744b40c580f8633c6b62637e"}' crossorigin="anonymous"></script>
</body>
</html>