@model X.PagedList.IPagedList<E_Retalling_Portal.Models.Product>

@{
    ViewData["Title"] = "Home Page";
    var productDiscounts = ViewBag.productDiscounts as Dictionary<int, ProductDiscountItemModel>;
}

<div class="container mt-4">
    <div class="row">
        <h3>You May Like</h3>
        @foreach (var product in ViewBag.recommendedProduct)
        {
            var discount = productDiscounts != null && productDiscounts.ContainsKey(product.id)
            ? productDiscounts[product.id]
            : null;

            <div class="col-md-2 col-sm-6">
                <div class="product-grid">
                    <div class="product-image">
                        <a href="@Url.Action("Index", "ViewProductDetail", new { area = "Home", productId = product.id })" class="image">
                            @if (discount != null && discount.productDiscount != null && discount.isDiscount == "true")
                            {
                                <div class="discount-value">-@discount.productDiscount.discount.value %</div>
                            }
                            <img class="img-1" src="~/productImages/@product.coverImage.imageName">
                            @if (product.images.Count > 1)
                            {
                                <img class="img-2" src="~/productImages/@product.images[1].imageName">
                            }
                        </a>
                        <a href="@Url.Action("Index", "ViewProductDetail", new { area = "Home", productId = product.id })" class="product-view"><i class="fa fa-search"></i></a>
                    </div>
                    <div class="product-content">
                        @if (ViewBag.recommendProductRatings != null && ViewBag.recommendProductRatings.ContainsKey(product.id))
                        {
                            int averageRating = ViewBag.recommendProductRatings[product.id];

                            <!-- Display stars -->
                            <div class="product-rating">
                                @for (int i = 1; i <= 5; i++)
                                {
                                    if (i <= averageRating)
                                    {
                                        <i class="fa fa-star" style="font-size: 12px; color:yellow"></i>  <!-- Filled star -->
                                    }
                                    else
                                    {
                                        <i class="fa fa-star text-muted" style="font-size: 12px;"></i>  <!-- Empty star -->
                                    }
                                }
                                <span class="ms-1">
                                    @averageRating
                                </span> <!-- Display numeric rating -->
                            </div>
                        }
                        else
                        {
                            <!-- Display 5 empty stars if no rating -->
                            <div class="product-rating">
                                @for (int i = 1; i <= 5; i++)
                                {
                                    <i class="fa fa-star text-muted" style="font-size: 12px;"></i>  <!-- Empty star -->
                                }
                                <span class="ms-1">
                                    0
                                </span> <!-- No ratings yet -->
                            </div>
                        }

                        <h3 class="title"><a href="@Url.Action("Index", "ViewProductDetail", new { area = "Home", productId = product.id })">@product.name</a></h3>

                        @if (discount != null && discount.product != null && discount.isDiscount == "true")
                        {

                            <span class="discount-name">@discount.productDiscount.discount.name</span>
                            <div class="price"> @discount.discountedPrice.ToString("#,0").Replace(",", ".") VND   <s>@discount.product.price.ToString("#,0").Replace(",", ".") VND</s></div>
                        }
                        else if (discount != null && discount.productItem != null && discount.isDiscount == "true")
                        {

                            <span class="discount-name">@discount.productDiscount.discount.name</span>
                            <div class="price"> @discount.discountedPrice.ToString("#,0").Replace(",", ".") VND   <s>@discount.productItem.price.ToString("#,0").Replace(",", ".") VND</s></div>

                        }
                        else
                        {
                            <div class="price">@product.price.ToString("#,0").Replace(",", ".") VND</div>
                        }

                    </div>
                </div>
            </div>
        }



    </div>
</div>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="@Url.Action("Index", "Home")">Home</a>
        </li>

        @foreach (var breadcrumb in ViewBag.breadcrumbList)
        {
            <li class="breadcrumb-item">
                <a href="@Url.Action("Index", "Home", new { categoryId = breadcrumb.Url })">@breadcrumb.Name</a>
            </li>
        }
    </ol>
</nav>




<section class="py-3">
    <div class="container">

        <div class="row">
            <div class="col-lg-3">
                <div class="filter-sidebar">
                    <form method="get" action="@Url.Action("Index", "Home")">
                        @if (ViewBag.isParentCategory == true)
                        {
                            @foreach (var category in ViewBag.categoryList)
                            {
                                <div class="category-group">
                                    @if (category.parentCategoryId == null)
                                    {
                                        <ul>
                                            <li>
                                                <a href="@Url.Action("Index", "Home", new { categoryId = category.id })"
                                                   class="category-link">
                                                    @category.name
                                                </a>
                                            </li>
                                        </ul>
                                    }
                                </div>
                            }
                        }
                        else
                        {

                            @foreach (var subCategory in ViewBag.subcategory)
                            {
                                <ul>
                                    <li>
                                        <a href="@Url.Action("Index", "Home", new { categoryId = subCategory.id })"
                                           class="subcategory-link">
                                            @subCategory.name
                                        </a>
                                    </li>
                                </ul>
                            }

                        }
                        <label>Filter by price :</label><br />
                        <b id="minPrice">@((ViewBag.minPrice ?? 2500000).ToString("#,0").Replace(",", ".")) VND</b> -
                        <b id="maxPrice">@(((ViewBag.maxPrice != null && ViewBag.maxPrice == 10000000) ? "10.000.000VND+" : (ViewBag.maxPrice ?? 4500000).ToString("#,0").Replace(",", "."))) VND</b>

                        <input id="ex2" type="text" class="span2" value=""
                               data-slider-min="0" data-slider-max="10000000"
                               data-slider-step="500000"
                               data-slider-value="[@(ViewBag.minPrice ?? 2500000), @(ViewBag.maxPrice ?? 4500000)]" />

                        <input type="hidden" name="minPrice" id="minPriceInput" value="@(ViewBag.minPrice ?? 2500000)" />
                        <input type="hidden" name="maxPrice" id="maxPriceInput" value="@(ViewBag.maxPrice ?? 4500000)" />
                        <input type="hidden" name="categoryId" value="@ViewBag.categoryId" />
                        <input type="hidden" name="searchQuery" value="@ViewBag.searchQuery" />
                        <button type="submit" class="btn btn-primary mt-3">Apply Filter</button>
                    </form>

                </div>
            </div>

            <div class="col-lg-9">
                <div class="row justify-content-end py-2">
                    <div class="col-lg-4">
                        <form method="get" action="@Url.Action("Index", "Home")">
                            <div class="input-group input-group-dynamic mb-4">
                                <span class="input-group-text"><i class="fas fa-search me-2" aria-hidden="true"></i></span>
                                <input class="form-control p-1" placeholder="Search" type="text" name="searchQuery" value="@ViewBag.searchQuery" style="background-image:none; border:1px solid gray;">
                            </div>
                            <input type="hidden" name="categoryId" value="@ViewBag.categoryId" />
                            <input type="hidden" name="minPrice" value="@ViewBag.minPrice" />
                            <input type="hidden" name="maxPrice" value="@ViewBag.maxPrice" />
                        </form>
                    </div>
                </div>



                <div class="row">
                    @foreach (var product in Model)
                    {
                        var discount = productDiscounts != null && productDiscounts.ContainsKey(product.id)
                        ? productDiscounts[product.id]
                        : null;


                        <div class="col-md-3 col-sm-6">
                            <div class="product-grid">
                                <div class="product-image">
                                    <a href="@Url.Action("Index", "ViewProductDetail", new { area = "Home", productId = product.id })" class="image">
                                        @if (discount != null && discount.productDiscount != null && discount.isDiscount == "true")
                                        {
                                            <div class="discount-value">-@discount.productDiscount.discount.value %</div>
                                        }
                                        <img class="img-1" src="~/productImages/@product.coverImage.imageName">
                                        @if (product.images.Count > 1)
                                        {
                                            <img class="img-2" src="~/productImages/@product.images[1].imageName">
                                        }
                                    </a>
                                </div>

                                <div class="product-content">
                                    <div class="product-rating">
                                        @if (ViewBag.productAverageRatings != null && ViewBag.productAverageRatings.ContainsKey(product.id))
                                        {
                                            int averageRating = ViewBag.productAverageRatings[product.id];

                                            // Display stars
                                            @for (int i = 1; i <= 5; i++)
                                            {
                                                if (i <= averageRating)
                                                {
                                                    <i class="fa fa-star" style="font-size: 12px; color:yellow"></i>  <!-- Filled star -->
                                                }
                                                else
                                                {
                                                    <i class="fa fa-star text-muted" style="font-size: 12px;"></i>  <!-- Empty star -->
                                                }
                                            }
                                            <span class="ms-1">
                                                @averageRating
                                            </span> <!-- Display numeric rating -->
                                        }
                                        else
                                        {
                                            // Display 5 empty stars if no rating
                                            @for (int i = 1; i <= 5; i++)
                                            {
                                                <i class="fa fa-star text-muted" style="font-size: 12px;"></i>  <!-- Empty star -->
                                            }
                                            <span class="ms-1">
                                                0
                                            </span> <!-- No ratings yet -->
                                        }
                                    </div>
                                    <h3 class="title"><a href="@Url.Action("Index", "ViewProductDetail", new { area = "Home", productId = product.id })">@product.name</a></h3>



                                    @if (discount != null && discount.product != null && discount.isDiscount == "true")
                                    {

                                        <span class="discount-name">@discount.productDiscount.discount.name</span>
                                        <div class="price"> @discount.discountedPrice.ToString("#,0").Replace(",", ".") VND   <s>@discount.product.price.ToString("#,0").Replace(",", ".") VND</s></div>
                                    }
                                    else if (discount != null && discount.productItem != null && discount.isDiscount == "true")
                                    {

                                        <span class="discount-name">@discount.productDiscount.discount.name</span>
                                        <div class="price"> @discount.discountedPrice.ToString("#,0").Replace(",", ".") VND   <s>@discount.productItem.price.ToString("#,0").Replace(",", ".") VND</s></div>

                                    }
                                    else
                                    {
                                        <div class="price">@product.price.ToString("#,0").Replace(",", ".") VND</div>
                                    }

                                </div>
                            </div>
                        </div>

                    }
                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, categoryId = ViewBag.categoryId, minPrice = ViewBag.minPrice, maxPrice = ViewBag.maxPrice, searchQuery = ViewBag.searchQuery }), new PagedListRenderOptions
               {
                   DisplayLinkToFirstPage = PagedListDisplayMode.IfNeeded,
                   DisplayLinkToLastPage = PagedListDisplayMode.IfNeeded,
                   MaximumPageNumbersToDisplay = 10,
                   DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
                   DisplayLinkToNextPage = PagedListDisplayMode.Always,

               })
                </div>
            </div>
        </div>
    </div>
    <script>
        //----------------------------------------------------------------------------------------


        //Filter by price
        var slider = new Slider('#ex2', {
            tooltip: 'hide',
            range: true,
            step: 500000, // Chỉnh khoảng cách giữa các bước là 500.000 VND
            min: 0, // Giá trị min có thể là 0 hoặc giá trị tối thiểu bạn muốn
            max: 10000000, // Giá trị max, trong trường hợp này là 10.000.000 VND (có thể thay đổi tùy ý)
        });

        function updatePriceLabels(value) {
            // Định dạng giá trị với dấu phân cách hàng nghìn và thêm VND vào sau
            var minPriceFormatted = value[0].toLocaleString() + " VND";
            var maxPriceFormatted = value[1] === 10000000 ? '10.000.000 VND+' : value[1].toLocaleString() + " VND";

            // Cập nhật nhãn giá trị min và max
            document.getElementById('minPrice').textContent = minPriceFormatted;
            document.getElementById('maxPrice').textContent = maxPriceFormatted;

            // Cập nhật giá trị input cho min và max price
            document.getElementById('minPriceInput').value = value[0];
            document.getElementById('maxPriceInput').value = value[1];
        }

        // Cập nhật nhãn khi người dùng kéo thanh trượt
        slider.on('slide', function (value) {
            updatePriceLabels(value);
        });

        // Cập nhật nhãn khi giá trị thay đổi hoàn toàn
        slider.on('change', function (event) {
            var value = event.newValue;
            updatePriceLabels(value);
        });

        //-----------------------------------------------------------------
    </script>
</section>
