@{
    ViewData["Title"] = "ViewProductOnDiscount";
    Layout = "~/Views/Shared/ShopManagerSideBarLayout.cshtml";

}

@{
    var products = ViewBag.products as List<Product>;  // Adjust `ProductModel` to your product model type
    var discounts = ViewBag.discount as List<Discount>;  // Adjust `DiscountModel` to your discount model type
    var count = Math.Min(products.Count, discounts.Count);  // Use the smaller count to avoid out-of-bounds errors
    var today = DateTime.Today; // Today's date, without time component
}

<link rel="stylesheet" href="https://cdn.datatables.net/2.1.8/css/dataTables.dataTables.css" />
<style>
    .row-img {
        width: 80px;
        height: 80px;
    }
</style>

<div class="content m-4 pb-3">

    <div class="row p-4">
        <div class="col-12">
            <table id="myTable" class="display">
                <thead>
                    <tr>
                        <th>coverImage</th>
                        <th>Name</th>
                        <th>Category</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Active</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>

                    @for (int i = 0; i < count; i++)
                    {
                         var product = products[i];
                         var discount = discounts[i];
                    
                        <tr>
                            <td><img class="row-img" src="~/productImages/@product.coverImage.imageName" /></td>
                            <td>@product.name</td>
                            <td>@product.category.name</td>

                            @if (product.isVariation == true)
                            {
                                <td class="font-weight-bold text-xs" style="color:gray;">N/A</td>
                            }
                            else
                            {
                                <td>@product.price</td>
                            }
                            @if (product.isVariation == true)
                            {
                                <td class="font-weight-bold text-xs" style="color:gray;">N/A</td>
                            }
                            else
                            {
                                <td>@product.quantity</td>
                            }
                            @if (discount != null)
                            {
                                @if (today >= DateTime.Parse(discount.startDate.ToString()) && today <= DateTime.Parse(discount.endDate.ToString()))
                                {
                                    <td class="text-primary font-weight-bold text-xs">Active</td>
                                }
                                else
                                {
                                    <td class="text-danger font-weight-bold text-xs">Not Active</td>
                                }
                            } else
                            {
                                <td class="font-weight-bold text-xs" style="color:gray;">N/A</td>
                            }
                            <td>
                                @if (product.isVariation == true)
                                {
                                    <a href="DiscountVariation?productId=@product.id" class="text-primary font-weight-bold text-xs btn ">
                                        Variation
                                    </a>
                                }
                                else
                                {
                                    <a href="ViewDetailDiscount?productId=@product.id" class="text-primary font-weight-bold text-xs btn">
                                       Detail Discount
                                    </a>@:|
                                    <a href="#" class="text-danger font-weight-bold text-xs" data-bs-toggle="modal" data-bs-target="#deleteModal" onclick="sendDataToModal(@product.id,null)">
                                        Stop Discount
                                    </a>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Delete Modal-->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModal">Delete</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-danger text-uppercase font-weight-bold">
                Confirm Stop
            </div>
            <form action="StopDiscount">
                <input type="hidden" name="productId" value="" id="delete-product-id" />
                <input type="hidden" name="productItemId" value="" id="delete-product-item-id" />
                <div class="modal-footer">
                    <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-danger">Stop</button>
                </div>
            </form>
        </div>
    </div>
</div>



<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/2.1.8/js/dataTables.js"></script>
<script>
        function sendDataToModal(productId,productitemId) {
            $('#delete-product-id').val(productId);
            $('#delete-product-item-id').val(productitemId);
        }

    $(document).ready(function () {
        $('#myTable').DataTable();
    });
</script>
