@model E_Retalling_Portal.ViewModel.UserProfileVM
@{
    Layout = "_Layout";
    var selectedGender = Model.User.gender;
}

<section style="background-color: #eee;">
    <div class="container py-5">
        <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb" class="bg-body-tertiary rounded-3 p-3 mb-4">
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">User</a></li>
                        <li class="breadcrumb-item active" aria-current="page">User Profile</li>
                    </ol>
                </nav>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <div class="card mb-4">
                    <div class="card-body text-center">
                        @if (@Model.User.gender == "Male")
                        {
                            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
                                 class="rounded-circle img-fluid" style="width: 150px;">
                        }
                        else if (@Model.User.gender == "Female")
                        {
                            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava4.webp" alt="avatar"
                                 class="rounded-circle img-fluid" style="width: 150px;">
                        }

                        <h5 class="my-3">@Model.User.displayName</h5>
                        <p class="text-muted mb-4">@Model.Address.address</p>
                        <div class="d-flex justify-content-center mb-2">
                            <button type="button" class="btn btn-outline-secondary ms-1" data-bs-toggle="modal" data-bs-target="#changePasswordModal">
                                Change password
                            </button>
                        </div>

                    </div>
                </div>

            </div>
            <div class="col-lg-8">
                <div class="card mb-4">
                    <div class="card-body">
                        <form action="/User/Update" method="post">
                            <div class="row">
                                <div class="col-sm-3">
                                    <label for="displayName" class="mb-0">Full Name</label>
                                </div>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control text-muted mb-0" id="displayName" name="User.displayName" value="@Model.User.displayName">
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <label for="email" class="mb-0">Email</label>
                                </div>
                                <div class="col-sm-9">
                                    <input type="email" class="form-control text-muted mb-0" id="email" name="User.email" value="@Model.User.email">
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <label for="phoneNumber" class="mb-0">Phone Number</label>
                                </div>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control text-muted mb-0" id="phoneNumber" name="User.phoneNumber" value="@Model.User.phoneNumber">
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <label for="birthday" class="mb-0">Birthday</label>
                                </div>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control text-muted mb-0" id="birthday" name="User.birthday" value="@Model.User.birthday">
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <label for="gender" class="mb-0">Gender</label>
                                </div>
                                <div class="col-sm-9">
                                    <select class="form-control text-muted mb-0" id="gender" name="User.gender">
                                        <option value="Male" selected="selectedGender">Male</option>
                                        <option value="Female" selected="selectedGender">Female</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <label for="firstName" class="mb-0">First Name</label>
                                </div>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control text-muted mb-0" id="firstName" name="User.firstName" value="@Model.User.firstName">
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <label for="lastName" class="mb-0">Last Name</label>
                                </div>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control text-muted mb-0" id="lastName" name="User.lastName" value="@Model.User.lastName">
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <label for="address" class="mb-0">Address</label>
                                </div>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control text-muted mb-0" id="address" name="Address.address" value="@Model.Address.address">
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-12">
                                    <button type="submit" class="btn btn-primary">Update</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
    </div>
    </div>
</section>
<div class="modal fade" id="changePasswordModal" tabindex="-1" aria-labelledby="changePasswordModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="changePasswordModalLabel">Change password</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="changePasswordForm" method="post" action="/User/SavePassword">
                    <div class="mb-3">
                        <label for="currentPassword" class="form-label">Current password</label>
                        <input type="password" class="form-control" id="currentPassword" name="currentPassword" required>
                    </div>
                    <div class="mb-3">
                        <label for="newPassword" class="form-label">New password</label>
                        <input type="password" class="form-control" id="newPassword" name="newPassword" required>
                    </div>
                    <div class="mb-3">
                        <label for="confirmPassword" class="form-label">Confirm new password</label>
                        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Save</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="notificationModal" tabindex="-1" aria-labelledby="notificationModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="notificationModalLabel">Notification</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p id="notificationMessage"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        window.onload = function () {
            var errorMessage = '@TempData["ErrorMessage"]';
            var successMessage = '@TempData["SuccessMessage"]';
            var updateMessage = '@TempData["UpdateMessage"]';
            if(updateMessage){
                document.getElementById('notificationMessage').innerText = updateMessage;
                var updateModal = new bootstrap.Modal(document.getElementById('notificationModal'));
                updateModal.show();
            }
            if (errorMessage) {
                document.getElementById('notificationMessage').innerText = errorMessage;
                var errorModal = new bootstrap.Modal(document.getElementById('notificationModal'));
                errorModal.show();
            } else if (successMessage) {
                document.getElementById('notificationMessage').innerText = successMessage;
                var successModal = new bootstrap.Modal(document.getElementById('notificationModal'));
                successModal.show();
            }
        }
    </script>
}



